<h1>Friends List Goes Here!</h1>

<!-- Loop through each of the friends -->

<% friends.forEach(function(friend){ %>
	<li><%= friend %> </li>
<% }) %>

<form action="/addFriend" method="POST">
	<input type="text" name="newFriend" placeholder="name">
	<button>I Made A New Friend</button>
</form>